<!-- HTML for the appearance of a post -->
<div class="offset-md-1 col-md-10 ">
    <table class="table">
        <tr>
            <td width="70%" class="align-middle">
                Entry ID: {{ entry.id }} <br>
                Entry Text: {{ entry.text }} <br>
                Entry Priority: {{ entry.priority }}
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-success btn-sm">Good</button>
                <button type="button" class="btn btn-secondary btn-sm">Okay</button>
                <button type="button" class="btn btn-danger btn-sm">Review</button>
            </td>
        </tr>
    </table>
</div>
